/SE1954_Java_Foundation/nbproject/private/
/SE1954_Java_Foundation/build/
/SE1954_Geomatrix/nbproject/private/
/SE1954_KimMinhDuc_HE181371/nbproject/private/
/SE1954_KimMinhDuc_HE181371/build/
/SE1954_Encapsulation/nbproject/private/
/SE1954_Encapsulation/build/
/SE1954_Inheritance/nbproject/private/
/SE1954_VoucherManagement/nbproject/private/
/SE1954_VoucherManagement/build/
/ItemManager/nbproject/private/
/ItemManager/build/

# Others
/FileExample/
/SE1954_Array_of_Objects/nbproject/private/
/HUS_NHNM/
/JavaApplication16/nbproject/private/
/JavaApplication16/build/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
